<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Antiaris Client Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="revised" value="yanni4night,2016/06/19"/>
        {{css}}
    </head>
    <body>
    <div id="react-dom">{{content}}</div>
    </body>
    <script charset="utf-8" src="../lib/system.js"></script>
    <script>
        System.config({});
        process = {env:'production'};
    </script>
    {{script}}
    <script>
        System.import('client:src/component/nav/nav-script.js').then(module=>{console.log(module)}).catch(err=>{console.error(err)})
    </script>
</html>
